<h1>Listing users</h1>

<table>
  <tr>
    <th>Password</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Cpf</th>
    <th>Email</th>
    <th>Role</th>
    <th>Status</th>
    <th>Address</th>
    <th>City</th>
    <th>Cel</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.password %></td>
    <td><%= user.firstname %></td>
    <td><%= user.lastname %></td>
    <td><%= user.cpf %></td>
    <td><%= user.email %></td>
    <td><%= user.role %></td>
    <td><%= user.status %></td>
    <td><%= user.address %></td>
    <td><%= user.city %></td>
    <td><%= user.cel %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
